.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.decks {
    display: grid;
    grid-gap: 10px;
    text-align: center;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    color: black;
}

.decks li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 220px;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
}

.decks li:hover {
    border: 1px solid #646cff;
    background-color: #eee;
    color: black;
}

.link {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.link:hover {
    color: #646cff;
}

.form {
    display: flex;
    gap: 15px;
    align-items: center;
}

.deck-label {
    font-size: 20px;
    text-decoration: underline 1px solid;
}

.input-deck {
    height: 30px;
    border: none;
}

.input-deck:focus {
    outline: none;
    border: 1px solid #646cff;
}

.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background: #fff;
    color: black;
    cursor: pointer;
    transition: border;
}

.btn:hover {
    border-color: #646cff;
}

.btn-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    font-size: 11px;
    color: black;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 1.5rem;
    transition: 200ms ease;
}

.btn-delete:hover {
    cursor: pointer;
    background-color: rgb(255, 86, 86);
    color: #fff;
    transition: 200ms ease;
}

.btn-edit {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #fff;
    font-size: 14px;
    color: black;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 1.5rem;
    transition: 200ms ease;
}

.btn-edit:hover {
    background-color: #646cff;
    cursor: pointer;
    color: #fff;
    transition: 200ms ease;
}

.edit-text {
    width: 85%;
    border: none;
}

.edit-text:focus {
    outline: none;
    border: 1px solid #646cff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
    .decks {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 475px) {
    .decks li {
        width: 150px;
    }
    .deck-label {
        font-size: 14px;
    }
    .input-deck {
        width: 150px;
    }
    .btn {
        font-size: 14px;
    }
}
