.header {
    position: fixed;
    height: 7.5vh;
    width: 100vw;
    overflow: hidden;
    background-color: white;
    color: #646cff;
    -webkit-box-shadow: 1px 6px 33px 1px rgba(100, 108, 255, 0.62);
    -moz-box-shadow: 1px 6px 33px 1px rgba(100, 108, 255, 0.62);
    box-shadow: 1px 6px 33px 1px rgba(100, 108, 255, 0.62);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
